
<div class="panel-content">
    <div class="fluid-container">
  <div class="row">
      <div class="col-md-4">
              <a href="/test"><button class="tried "> Total Test Cases:
                <div class=" mt-2"><h5>Total:{{Total}}</h5></div>
              </button></a>
      </div>
      <div class="col-md-4">
              <a href="/test1"><button class="tried"> Passed Test Cases:
                <div class=" mt-1"><h5> Pass:{{Pass1}} </h5></div>
              </button></a>
      </div>
      <div class="col-md-4">
            <a href="/test2"><button class="tried">Failed Test Cases:
              <div class=" mt-2"><h5> Fail:{{Fail1}}</h5></div>
            </button></a>
      </div>
  </div>
  <br>

  <div class="row">
      <div class="col-xl-4">
          <div class="card border-primary">
            <div class="card-body">
                <canvas id="canvas1" width="15" height="15" ></canvas>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
            <div class="card border-primary">
              <div class="card-body">
                <canvas id="canvas2" width="20" height="20" ></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
              <div class="card border-primary">
                <div class="card-body">
                  <canvas id="canvas3" width="20" height="20" ></canvas>
                </div>
              </div>
            </div>
  </div>
  </div>
</div>
